$primary-color: #cdbf2b;
$dark-color: #000;
$light-color: #f2f0e6;
$shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

textarea {
  border: 1px solid #ccc;
  width: 100%;
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  &:focus {
    border-color: $primary-color;
  }
}

#clxReferrerRate {
  background: #0088ff;
  color: #000000;
}

#clxSmallWidget {
  color: #000000;
}

a {
  color: #3273dc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000;
  padding: 0.5rem 2rem;
  background-color: $light-color;

  .logo {
    width: 10rem;
  }

  .icons {
    justify-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;

    i {
      color: #000;
      font-size: 1.8rem;
      -webkit-transition: 300ms;
      transition: 300ms;

      &:hover {
        color: $primary-color;
      }
    }
  }

  > div {
    &:last-child {
      display: grid;
      grid-template-rows: auto auto auto 3rem 3rem auto;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      justify-self: end;

      span:nth-child(1),
      span:nth-child(2),
      span:nth-child(3) {
        font-size: 0.9rem;
      }

      a {
        &:nth-child(4) {
          color: $primary-color;
          font-weight: bold;
        }

        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 4px solid $primary-color;
  border-left: none;
  border-right: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: $dark-color;
  text-align: center;
  position: relative;
  z-index: 1;

  a {
    color: $light-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.3em 0.5em;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-size: 0.95em;
    height: calc(100% - 0.3em);
    // -webkit-box-pack: center;
    //     -ms-flex-pack: center;
    //         justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }

  > a,
  > div {
    // width: 100%;
    // -webkit-box-pack: center;
    //     -ms-flex-pack: center;
    //         justify-content: center;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
      color: #000;
    }
  }

  > div {
    height: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: auto;
    position: relative;

    &:hover {
      a {
        color: #000;
      }

      > div {
        visibility: visible;
        opacity: 1;
      }
    }

    // &:last-child {
    // 	display: grid;
    // 	grid-gap: 3px;
    // 	cursor: pointer;
    // 	grid-gap: 4px;
    // 	width: 20px;
    // 	height: 17px;
    // 	display: none;

    // 	span {
    // 		height: 2px;
    // 		transition: 500ms;
    // 		background-color: $primary-color;
    // 	}
    // }

    > a {
      &:after {
        content: "";
        background: url(../icons/angle-right-solid.svg);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        left: 100%;
        -webkit-transition: 250ms;
        transition: 250ms;
        margin-left: 5px;
      }
    }

    > div {
      position: absolute;
      top: 100%;
      background-color: $primary-color;
      color: #000;
      border-radius: 3px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 300ms;
      transition: 300ms;

      a {
        color: #000;

        &:hover {
          background-color: darken($primary-color, 5%);
        }
      }
    }
  }

  .fa-caret-down {
    color: $primary-color;
    font-size: 4rem;
    position: absolute;
    bottom: -28px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    display: none;
  }
}

.container {
  width: 85%;
  margin: 1rem auto 0 auto;

  > * {
    margin-bottom: 2rem;

    &:first-child {
      margin-top: 2rem;
    }
  }
}

.glide {
  .prev,
  .next {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    height: 35px;
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &::before {
      font-size: 1.2rem;
    }
  }

  img {
    height: 100%;
    // object-fit: cover;
  }
}

.customer-review {
  padding: 0.625rem;
}

.who-we-are {
  background-color: $light-color;
  padding: 1.5rem;
  -webkit-box-shadow: $shadow;
          box-shadow: $shadow;
  -webkit-transition: 750ms ease-out;
  transition: 750ms ease-out;

  &.out {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }

  &.in {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }

  h1 {
    font-weight: normal;
    display: inline-block;
    color: darken($primary-color, 15%);
  }

  p {
    line-height: 1.5;
    margin-top: 0.3rem;
    font-size: 1.1rem;
  }
}

.pics-with-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 1rem;

  div,
  a {
    position: relative;
    height: 300px;
    -webkit-transition: 500ms cubic-bezier(0, 1.38, 1, 1);
    transition: 500ms cubic-bezier(0, 1.38, 1, 1);

    &.out {
      -webkit-transform: scale(0);
              transform: scale(0);
    }

    &.in {
      -webkit-transform: scale(1);
              transform: scale(1);
    }

    span {
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 0.85rem;
      padding: 0.4rem;
      width: calc(100% - 0.8rem);
      left: 0;
    }
  }

  img {
    height: 100%;
    // object-fit: cover;
    width: 100%;
  }
}

.headline {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  -webkit-transition: 1s linear;
  transition: 1s linear;

  > a,
  > div {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    padding: 1.5rem;
    -webkit-box-shadow: $shadow;
            box-shadow: $shadow;
    background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to(saturate($primary-color, 30%)));
    background: linear-gradient($primary-color, saturate($primary-color, 30%));
    color: rgba(0, 0, 0, 0.6);
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;

    > span:first-child {
      font-weight: bold;
    }

    > div,
    > a {
      margin-top: 1rem;
    }

    > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    position: relative;
    &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      right: 10px;
      left: auto;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: #555;
      -webkit-box-shadow: 0 15px 10px #555;
      box-shadow: 0 15px 10px #555;
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  }

  > div:nth-child(5) > span {
    font-weight: normal;
  }

  > a:nth-child(3) div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    // text-align: left;

    span:last-child {
      grid-column: 1/3;
      text-align: center;
    }
  }
}

.two-pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;

  a {
    border: 3px solid $primary-color;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 300ms;
    transition: 300ms;

    &:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }

  img {
    height: 25vw;
    width: 100%;
  }
}

.commercial {
  width: 100%;
  height: 450px;
}

#gmap_canvas {
  width: 100%;
  height: 400px;
}

footer {
  padding: 2rem;
  background-color: $light-color;

  .images {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1rem;
    background-color: #000;
    padding: 1rem;
    border-radius: 3px;

    img {
      max-width: 14vw;
    }
  }

  .AuthorizeNetSeal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #AuthorizeNetText {
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
  }

  .footer-content {
    display: grid;
    margin-top: 2rem;
    grid-gap: 1rem 4rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;

    > .logo {
      grid-column: 1;
      grid-row: 1;
      width: 150px;
    }

    > div:first-of-type {
      grid-column: 2;
      grid-row: 1/3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-left: 2px solid darken($light-color, 20%);
      padding-left: 1rem;

      span {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }

      a {
        color: #000;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
      }
    }

    > div:last-of-type {
      grid-column: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      font-size: 0.95rem;
      line-height: 1.3;
    }

    > p {
      grid-column: 1/3;
      font-size: 0.95rem;
      margin-top: 1rem;
      text-align: center;
    }
  }
}

.glide__bullets.glide__bullets {
  bottom: -40px;
  // background: red;

  .glide__bullet {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 2px solid#000;
    font-weight: bold;
  }

  .glide__bullet--active {
    background-color: black;
    background-color: $primary-color;
  }

  .glide__bullet:hover,
  .glide__bullet:focus {
    border: 2px solid black;
  }
}

.answers {
  background: -webkit-gradient(linear, left top, left bottom, from(saturate($primary-color, 40%)), to($primary-color));
  background: linear-gradient(saturate($primary-color, 40%), $primary-color);
  -webkit-box-shadow: 0px 0px 15px $primary-color;
          box-shadow: 0px 0px 15px $primary-color;
  padding: 3rem;
  display: block;
  text-align: center;
  font-size: 2.5rem;
  color: darken($primary-color, 25%);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-transition: 650ms cubic-bezier(0, 1.38, 1, 1);
  transition: 650ms cubic-bezier(0, 1.38, 1, 1);

  &.out {
    -webkit-transform: rotate(180deg) scale(0) skew(-15deg);
            transform: rotate(180deg) scale(0) skew(-15deg);
  }

  &.in {
    -webkit-transform: rotate(0) scale(1) skew(-15deg);
            transform: rotate(0) scale(1) skew(-15deg);
  }

  &:hover span {
    text-decoration: underline;
  }

  span {
    -webkit-transform: skew(15deg);
            transform: skew(15deg);
    display: inline-block;
  }
}

.faqs-banner {
  background-color: $primary-color;
  padding: 2rem;
  display: block;
  text-align: center;
  border: 3px solid darken($primary-color, 25%);
  font-size: 5vw;

  span {
    opacity: 0;
    -webkit-animation: text-fade-in 6s infinite;
            animation: text-fade-in 6s infinite;
    color: #000;
    display: inline-block;
  }
}

.faqs-content {
  margin-left: 1.4rem;
  font-size: 1.1rem;
  font-weight: bold;

  li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;

    h1 {
      display: inline;
      font-size: 1em;

      &:after {
        content: "-";
        margin: 0 0.5rem;
      }
    }

    &:nth-child(7) h1::after {
      display: none;
    }

    p {
      font-size: 1em;
      display: inline;
      font-weight: normal;
    }
  }

  ul {
    font-weight: normal;
    list-style: none;
    margin-left: 2rem;
  }
}

.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  border: 2px solid $primary-color;
  -webkit-box-shadow: 0px 0px 2rem rgba($primary-color, 1);
          box-shadow: 0px 0px 2rem rgba($primary-color, 1);

  form {
    border-right: 1px solid $primary-color;
    padding-right: 2rem;
    font-size: 1.2rem;
    display: grid;
    grid-gap: 2rem;
  }

  .info {
    font-size: 1.45rem;
    display: grid;
    -ms-flex-line-pack: start;
        align-content: start;
    grid-gap: 2.5rem;

    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      span:first-child {
        color: darken($primary-color, 10%);
      }
    }

    i {
      margin-right: 0.5rem;
    }
  }

  label::after {
    content: "*";
    color: red;
  }

  textarea {
    height: 6rem;
  }
}

.send {
  padding: 0.5rem 1rem;
  float: right;
  border: none;
  background-color: $primary-color;
  font-weight: bold;
  border-radius: 3px;
  font-size: 1.3rem;
  border: 2px solid;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 3%);
  }

  &:active {
    background-color: darken($primary-color, 5%);
  }
}

.req-quote {
  text-align: center;
  color: $primary-color;
  color: #cdbf2b;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
  font-size: 2.5rem;
}

#quote_form {
  // display: grid;
  // grid-gap: 2rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 2rem rgba($primary-color, 1);
          box-shadow: 0px 0px 2rem rgba($primary-color, 1);
  border: 2px solid $primary-color;

  .send {
    font-size: 1.1rem;
  }

  > #legal {
    margin-top: -1.5rem;
  }

  #submit::after {
    content: '';
    clear: both;
    display: block;
  }
}

.upper-wrap {
  display: grid;
  font-size: 1.1rem;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

#legal {
  color: red;
  font-size: 0.9rem;
}

.input-container {
  // margin-top: 2em;
  // margin-bottom: 1.5em;
  position: relative;

  label {
    margin: 0;
    position: absolute;
    top: -1px;
    -webkit-transition: 300ms;
    transition: 300ms;
    cursor: text;
    left: 0;
  }

  input {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 0.85em;
    width: 100% !important;

    &.focused {
      border-color: $primary-color;
      -webkit-transition: 300ms;
      transition: 300ms;

      + label {
        top: -19px;
        font-size: 0.75em;
      }
    }
  }
}

.carousel-cell {
  width: 100%; /* full width */
  height: 400px;
  background: #222;
  /* center images in cells with flexbox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  // img {
  //   display: block;
  //   max-height: 100%;
  // }
}

.img-with-text {
  display: grid;
  grid-gap: 1.5rem;
  -webkit-transition: 500ms;
  transition: 500ms;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  img {
    -webkit-transition: 650ms;
    transition: 650ms;
    -webkit-box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0 20px rgba(0, 0, 0, 0.5);
    height: 27vw;
    width: 100%;

    &.out {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    }
  }

  h1 {
    font-size: 1.7em;
    color: darken($primary-color, 10%);
  }

  p {
    font-size: 1.05em;

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }
  }
}

.custom-shirt img {
  height: 47vw;
  width: 100%;
}

.gallery-container {
  > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  h1 {
    color: darken($primary-color, 10%);
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    img {
      height: 130px;
      width: 100%;
      // object-fit: cover;
      border: 1px solid white;
      border-bottom: none;
    }
  }
}

.video-gallery-container a {
  position: relative;

  &::after {
    content: url("../icons/play-circle-solid.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    opacity: 0.6;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
  }

  &:hover::after {
    opacity: 0.8;
  }
}

.print-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;

  > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    &::before {
      position: absolute;
      content: url(../icons/caret-up-solid.svg);
      height: 25px;
      width: 25px;
      top: calc(100% - 13px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 1;
    }
  }

  img {
    height: 15vw;
    -webkit-transition: 500ms;
    transition: 500ms;
    width: 100%;

    &.active {
      opacity: 0.7;
    }
  }

  p {
    grid-column: 1/-1;
    display: none;
    background-color: $primary-color;
    padding: 0.5rem;
    border: 2px solid #000;
    border-top-width: 0;
    font-size: 1rem;
    // transition: border-width 500ms;
  }
}

.line {
  position: relative;
  margin-top: 2rem;
  height: 2px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5%;
    right: 2.5%;
    width: 95%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgb(0, 0, 0)), to(transparent));
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);
  }
}

.swatch-colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2rem 0.5rem;

  div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;

    &:hover {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);

      img {
        -webkit-box-shadow: 0px 0px 15px rgba($primary-color, 0.9);
                box-shadow: 0px 0px 15px rgba($primary-color, 0.9);
      }
    }

    &.out {
      -webkit-transform: rotateY(90deg);
              transform: rotateY(90deg);
    }
  }

  img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid $primary-color;
    padding: 2px;
  }

  span {
    font-weight: bold;
    font-size: 0.95rem;
  }
}

.full-width-image {
  max-height: 50vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tl-radio-wrap {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-gap: 2rem;
  margin-top: 0.5rem;
}

.inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner-wrap > label {
  font-weight: bold;
}

.tl-boxwrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem 2.5rem;

  > div {
    display: grid;
    // grid-gap: .5rem;
  }
}

.specialty-finishes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;

  h3 {
    grid-column: 1/-1;
  }
}

.tl-table {
  border: 2px solid;
  border-spacing: 0;
  width: 100%;

  .top_row {
    background-color: $primary-color;
    border: 1px darken($primary-color, 10%);
    height: 2.5rem;

    + tr {
      th {
        border-top: none;
      }

      td input {
        border-top: none;
      }
    }

    th {
      border-right: none;
      border-bottom-width: 1px;
      border-top: none;
      border-left-width: 1px;
      border-color: darken($primary-color, 20%);

      &:first-child {
        border-left: none;
      }
    }
  }

  th {
    border: 1px solid;
    border-bottom-width: 0;
    border-left-width: 0;
  }

  td {
    border: none;
  }

  td:first-of-type input {
    border-left: none;
  }

  input {
    width: 100%;
    height: 2rem;
    font-size: 0.95rem;
    border: 1px solid #aaa;
    border-bottom: none;
    border-right: none;
    padding-left: 0.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 0;
  }
}

.tl-table,
.tl-table input {
  background-color: #f5f5f5;
}

#quote_form > div:not(:last-child) {
  margin-bottom: 2rem;
}

/*------------------------------
			//radio
------------------------------*/

.radio {
  display: block;
  position: relative;
  background: none;
  // margin: 0 0 0.5em 0;

  input[type="radio"] {
    opacity: 0 !important;

    + label {
      // position: absolute;
      // top: 0;
      // left: 0;
      padding-left: 0.625rem;

      color: #000;

      &:before {
        -webkit-transition: -webkit-box-shadow 0.4s ease;
        transition: -webkit-box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease;
        transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        background-color: none;
        border: 2px solid #767676;
        border-radius: 500em;
        z-index: 5;
      }

      &:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        position: absolute;
        top: 0.125em;
        left: 0.125em;
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: $primary-color;
        -webkit-box-shadow: 0 0 0px 2px #fff inset;
                box-shadow: 0 0 0px 2px #fff inset;
        border-radius: 500em;
      }
    }
    &:checked + label {
      &:before {
        border: 2px solid #000;
        -webkit-box-shadow: 0 0 0px 2px #fff inset;
                box-shadow: 0 0 0px 2px #fff inset;
      }

      &:after {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }
  }
}

.radio.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.radio.red input[type="radio"]:checked + label:after {
  background: #db2828;
}

/*------------------------------
			//toggle
------------------------------*/

.toggle {
  display: block;
  position: relative;
  background: none;

  input[type="checkbox"] {
    opacity: 0 !important;

    + label {
      // position: absolute;
      // top: 0;
      // left: 0;
      padding-left: 1.8rem;
      color: #000;

      &:before {
        -webkit-transition: background-color 0.4s ease;
        transition: background-color 0.4s ease;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        position: absolute;
        top: 0.25rem;
        left: 0;
        content: "";
        width: 2.25rem;
        height: 0.75rem;
        background-color: #999;
        border-radius: 0.5rem;
      }

      &:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        position: absolute;
        top: 0rem;
        left: -0.25rem;
        width: 1.25rem;
        height: 1.25rem;
        content: "";
        font-size: 0.75em;
        background-color: #fff;
        border-radius: 500rem;
        border: 2px solid #999;
      }
    }

    &:checked + label {
      &::before {
        background-color: $primary-color;
      }

      &::after {
        -webkit-transform: translateX(1.5rem);
                transform: translateX(1.5rem);
        border: 2px solid $primary-color;
      }
    }
  }
}

.toggle.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.toggle.red input[type="checkbox"]:checked + label:before {
  background: #db2828;
}

.ty-wrapper {
  max-width: 55rem;
  margin: auto;

  ul {
    margin-left: 35px;
    font-weight: bold;
  }
}

.upload-art {
  font-size: 1.4rem;
  text-align: center;
  display: block;
  font-weight: bold;
  background-color: #cdbf2b;
  -ms-flex-item-align: center;
      align-self: center;
  padding: .3rem 1rem;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.55);
          box-shadow: 2px 2px 4px rgba(0,0,0,.55);
  color: darken($primary-color, 27%);
  margin: 1rem 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-transition: 250ms;
  transition: 250ms;

  &:hover {
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
    -webkit-transform: scale(.99);
            transform: scale(.99);
  }
}

.ty-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  margin: 0 .625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  h1 {
    text-align: center;
    color: $primary-color;
    font-size: 3.1rem;
    text-shadow: 1px 1px 2px darken($primary-color, 30%);
  }

  p {
    margin-bottom: .5rem;
  }

  .highlight {
    color: red;
    font-weight: normal;
  }
}

.photo-viewer .carousel-cell {
  width: 25%;
  margin-right: 7px;
  height: 165px;

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .shirt-style .inner-wrap {
    &:first-child,
    &:nth-child(2) {
      grid-column: 1/3;
    }
  }
}

@media (max-width: 991px) {
  nav {
    grid-template-columns: unset;
    overflow: hidden;
    border-width: 2px;
    margin-bottom: 3.5rem;

    a {
      height: unset;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
    }

    &.hidden {
      overflow: visible;

      a {
        overflow: hidden;
        font-size: 0;

        &::after {
          width: 0;
          height: 0;
        }
      }
      > a:last-of-type {
        margin-bottom: 0;
      }

      .fa-caret-down {
        bottom: -39px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
    }

    > div {
      position: relative;
      width: 100%;

      a::after {
        -webkit-transition: 500ms;
        transition: 500ms;
      }

      &.active {
        background-color: darken($primary-color, 10%);
        > a {
          color: #000;
          font-weight: bold;
          padding-top: 2px;
          padding-bottom: 0;

          &::after {
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
            margin-top: 10px;
          }
        }

        div {
          display: block;
        }
      }

      > div {
        position: unset;
        visibility: visible;
        opacity: 1;
        display: none;
        border-radius: 0;
        -webkit-transition: unset;
        transition: unset;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
      }
    }

    .fa-caret-down {
      display: block;
      -webkit-transition: 300ms;
      transition: 300ms;
    }

    > a:last-of-type {
      margin-bottom: 2rem;
    }
  }

  .faqs-banner {
    padding: 1.8rem;
  }

  footer {
    padding: 1rem;
  }

  .contact-us .info {
    font-size: 2vw;
  }

  .img-with-text {
    font-size: 0.9rem;
  }

  .ty-content {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  header {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1rem;

    > div:last-child,
    .logo {
      justify-self: center;
      text-align: center;
    }
  }

  nav.hidden .fa-caret-down {
    bottom: -34px;
  }

  .container {
    width: 95%;
  }

  footer {
    .footer-content {
      grid-template-columns: 1fr;

      > div:first-of-type {
        grid-column: unset;
        grid-row: unset;
      }

      > div:first-of-type {
        grid-row: 1;
        grid-column: 1/3;
        display: grid;
        grid-auto-flow: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        grid-gap: 1rem;
        border-left: none;
        padding: 0;

        span {
          display: none;
        }

        a {
          margin-bottom: 0;
        }
      }

      .logo {
        width: 85px;
        grid-row: 2;
      }

      > div:last-of-type {
        grid-column: 2;
        grid-row: 2;
      }

      > p {
        grid-row: 3;
      }
    }
  }

  .two-pics {
    grid-gap: 0.5rem;

    a {
      border: 2px solid $primary-color;
      padding: 3px;
    }
  }

  .answers {
    font-size: 2rem;
  }

  .commercial,
  #gmap_canvas {
    height: 300px;
  }

  .contact-us {
    grid-template-columns: 1fr;

    form {
      padding-right: 0;
      border: 0;
    }

    .info {
      font-size: 1.3rem;
      padding-top: 1.5rem;
      border-top: 1px solid $primary-color;
      grid-gap: 2rem;
    }
  }

  .home-banner {
    .carousel-cell {
      height: 300px;
    }
  }

  .print-options {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

    // div {
    //   position: unset;
    // }

    p {
      grid-column: unset;
      position: absolute;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: calc(50% + 0.25rem);
      height: 100%;
      border-top-width: 2px;
      overflow: auto;
      font-size: 0.95rem;

      &:nth-of-type(odd) {
        right: 0;
        border-left-width: 0;
      }

      &:nth-of-type(even) {
        left: 0;
        border-right-width: 0;
      }
    }

    img {
      height: 35vw;
    }

    div {
      &::before {
        -webkit-transition: opacity 500ms;
        transition: opacity 500ms;
      }
      &:nth-of-type(odd)::before {
        -webkit-transform: rotate(270deg) translate(25%, 0%);
                transform: rotate(270deg) translate(25%, 0%);
        top: 50%;
        left: unset;
        right: 0;
      }

      &:nth-of-type(even)::before {
        left: unset;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-25%) rotate(90deg);
                transform: translateY(-25%) rotate(90deg);
      }

      &.active::before {
        opacity: 1;
      }
    }
  }

  .img-with-text {
    min-height: 52vw;
  }

  .tl-boxwrap {
    grid-template-columns: 1fr;
  }

  .shirt-style .inner-wrap:first-child, .shirt-style .inner-wrap:nth-child(2) {
    grid-column: unset;
  }

  .tl-radio-wrap {
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    grid-auto-flow: unset;
  }
  
  .ty-content h1 {
    font-size: 2.8rem;
  }

  .photo-viewer .carousel-cell {
    width: 33%;
    height: 140px;
  }
}

@media (max-width: 480px) {
  footer {
    .footer-content {
      grid-gap: 1rem;
      > div:first-of-type {
        grid-template-columns: 1fr;
        grid-auto-flow: unset;
        grid-gap: 0.5rem;
        margin-bottom: 0.5rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid darken($light-color, 20%);

        span {
          display: block;
          margin-bottom: 0;
        }
      }

      .images {
        grid-template-columns: auto auto;
        grid-auto-flow: unset;
        grid-gap: 1rem;

        img {
          max-width: 7rem;
        }
      }

      > p {
        margin-top: 0;
        padding-top: 1rem;
        border-top: 2px solid darken($light-color, 20%);
      }
    }
  }

  .answers {
    font-size: 1.2rem;
    padding: 1.4rem;
  }

  .commercial,
  #gmap_canvas {
    height: 200px;
  }

  .home-banner {
    .carousel-cell {
      height: 200px;
    }
  }

  .upper-wrap {
    grid-template-columns: 1fr;
  } 

  .custom-shirt img {
    height: 115vw;
  }

  .img-with-text img {
    height: 58vw;
  }

  .full-width-image {
    max-height: 60vw;
  }

  .tl-radio-wrap,
  .specialty-finishes {
    grid-template-columns: 1fr;
  }
  
  .ty-content {
    font-size: 1rem;

    h1 {
      font-size: 2.2rem;
    }

    .upload-art {
      font-size: 1.1rem;
    }
  }

  .photo-viewer .carousel-cell {
    width: 50%;
    height: 110px;
  }

  .flickity-button {
    -webkit-transform: scale(0.75) translateY(-50%) !important;
            transform: scale(0.75) translateY(-50%) !important;
  }
}

@media (min-width: 481px) {
  .img-with-text {
    grid-template-columns: 1fr 1fr;

    &:nth-child(even) {
      img {
        grid-column: 2;
        grid-row: 1;
      }

      div {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

  #quote_form .input-container:last-child {
    grid-column: 1/3;
  }
}

@media (min-width: 769px) {
  .img-with-text {
    &:nth-child(even) {
      img {
        grid-column: 2;
        grid-row: 1;
      }

      div {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

  .footer-content {
    grid-template-columns: minmax(250px, 1fr) 3fr;
  }

  .print-options div:hover::before {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  nav > div {
    &:hover {
      > a::after {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        margin-top: 8px;
      }

      > div {
        -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
      }
    }

    > div {
      // for overriding javaScript
      display: block !important;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }
  }
}

@-webkit-keyframes text-fade-in {
  0% {
    opacity: 0 black;
  }

  50%, 70% {
    opacity: 1;
  }

  90%, 100% {
    opacity: 0;
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0 black;
  }

  50%, 70% {
    opacity: 1;
  }

  90%, 100% {
    opacity: 0;
  }
}
